* {
box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal;
}

h1 h2, h3, h4, h5, h6, p{
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Livvic', sans-serif;
}

h1  {
  font-size: 20px;
}



.App {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link  {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Livvic', sans-serif;
}

#title{
  font-family: 'Pacifico', cursive; 
  font-size: 25px;
}

body {
  background-image: linear-gradient(to bottom right, #FFEBEE  , #E1BEE7  );
  padding-top: 70px; 
   height: auto;
  background-attachment: fixed;
  background-size: cover;
}

.toast-header {
  font-family: 'Livvic', sans-serif;
}

.grid-article, .grid-comments .toastHeader{
  font-family: 'Livvic', sans-serif;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  padding-top: 20px;
  padding: 10px;
  grid-column-gap: 10px;
  justify-items: start;
  align-items: start;
}
.grid-article {
  background-color: #E3F2FD;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  grid-column: 1 ;
  grid-row: 1 ;
}

.grid-comments {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 2/3;
  justify-self: stretch;
  align-self: start;
  grid-row-gap: 10px;
}

.grid-articles {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: 2 ;
  grid-row: 1 / span 3;
}

.commentContainer {
  grid-template-columns: 2fr ;
  grid-template-rows: auto auto;
  background-color: #E3F2FD;
  border-radius: 25px;
  grid-row-gap: 10px;
 
}

.comments h2{
  grid-column: 1 / 2;
  grid-row: 2/3;
  grid-row-gap: 10px;
  flex-grow: 1;
  
}

comments h2 {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Livvic', sans-serif;
  font-size: 10px;
  font-weight: 400;
}


.commentButtons {
  grid-column: 1 / 2;
  grid-row: 2/3;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#commentModal h5, textarea {
  font-family: 'Livvic', sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  
}

.btn-danger {
    color: #fff;
    background-color:#64B5F6;  
    border-color: #64B5F6 ;
    padding-bottom: 10px;
    margin-top: 10px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: #64B5F6;
    border-color: #311B92  
}

#voteButtons {
  background-color: #64B5F6;
  
}
#deleteComment  {
  color: #fff;
  background-color:#E57373  ;
  border-color: #EF5350 ;
}

dt {
  font-family: 'Livvic', sans-serif;
  font-weight: normal;
}
