.App {
  text-align: center;
}

* {
box-sizing: border-box;
}

#navBar {
  background-color: black;
}

.btn-secondary {
  background-color:black;
}

.btn-secondary.dropdown-toggle {
   background-color:black;
   border-color: black;
   color: #007BFF
}
