* {
box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  height: 100%;
  background-color: #FFCCCC;
  padding-top: 70px; 
}

/*Article components*/
.grid-article, .grid-comments{
  font-family: 'Livvic', sans-serif;
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  padding-top: 20px;
  padding: 10px;
  grid-column-gap: 10px;
  justify-items: start;
  align-items: start;
}
.grid-article {
  background-color: #E3F2FD;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 /2;
}
.grid-comments {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 2/2;
  justify-self: stretch;
  align-self: start;
  grid-row-gap: 10px;
}

.commentContainer {
  grid-template-columns: 2fr ;
  grid-template-rows: auto auto;
  background-color: #E3F2FD;
  border-radius: 25px;
  grid-row-gap: 10px;
}

.comments {
  grid-column: 1 / 2;
  grid-row: 1/2;
  grid-row-gap: 10px;
}

.commentButtons {
   grid-column: 1 / 2;
   grid-row: 2/3;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-articles {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 /2;
}

.btn-danger {
    color: #fff;
    background-color:#64B5F6;  
    border-color: #64B5F6 ;
    padding-bottom: 10px;
    margin-top: 10px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: #64B5F6;
    border-color: #311B92  
}

#voteButtons {
  background-color: #64B5F6;
  
}

 #deleteComment  {
   color: #fff;
   background-color:#E57373  ;
   border-color: #EF5350 ;
 }

 dt {
   font-family: 'Livvic', sans-serif;
   font-style: normal;
    font-weight: normal;
 }
